name: Basic CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Show files
        run: ls -al

      - name: Print message
        run: echo "CI pipeline running successfully!"
